name: clang-format

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  format-check:
    runs-on: [ self-hosted, small ]
    container: bolt-ci:latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: clang-format check
      run: |
        make clang-format-check